Source: virtaal
Section: devel
Priority: optional
Maintainer: Nicolas FRANCOIS (Nekral) <nicolas.francois@centraliens.net>
Build-Depends-Indep: python-central (>= 0.5), python (>= 2.5), translate-toolkit (>= 1.9.0)
Build-Depends: debhelper (>= 5.0.51), quilt (>= 0.40)
XS-Python-Version: all
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.debian.org/svn/debian-l10n/virtaal/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/debian-l10n/virtaal/trunk
Homepage: http://translate.sourceforge.net/wiki/virtaal/index

Package: virtaal
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, translate-toolkit (>= 1.9.0), python-gtk2, python-gobject, python-glade2, python-pycurl, python-lxml, python-simplejson
Recommends: python-gtkspell, openoffice.org-common, python-levenshtein, python-psycopg2
XB-Python-Version: ${python:Versions}
Description: graphical localisation editor
 Virtaal is a graphical localisation editor which supports a variety of formats
 (including PO and XLIFF files).
